/* box, button, container, content, icon, image, notification, other, progress, table, tag, title */



.button
{
  &__accordion
  {
    &--1
    {

    }
    &--2
    {
      
    }
    &--3
    {
      
    }
  }
}




/* ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $light; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: $grey-dark; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $grey-dark; 
  } */